/* base font & type scss for joe's diner */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700');

h1, h2 {
  font-family: $condensed-font-stack;
  color: $brand-primary;
  text-transform: uppercase;
}
h2{
  font-size: 2.5em;
  margin-bottom:1em;

  span{
    color:lighten($brand-primary,40%);
    padding-left:0.1em;
  }
}
