/* bootstrap container customization for joe's diner */

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height: 55%;
  overflow: hidden;

  @media (min-width: $bp-md) {
    min-height: 80%;
  }
}

// splash container
.splash {
  background: $gray-800 url('../../images/bg_home_mobile.jpg') no-repeat top center;
  @include bgsize(cover);
  background-attachment: fixed;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;  -ms-flex-direction: column;  flex-direction: column;
  -webkit-flex-wrap: nowrap;  -ms-flex-wrap: nowrap;  flex-wrap: nowrap;
  -webkit-justify-content: center;  -ms-flex-pack: center;  justify-content: center;
  -webkit-align-content: center;  -ms-flex-line-pack: center;  align-content: center;
  -webkit-align-items: center;  -ms-flex-align: center;  align-items: center;

  @media (min-width: 768px) {
    background: $gray-800 url('../../images/bg_home.jpg') no-repeat top center;
    @include bgsize(cover);
    background-attachment: fixed;
  }

  .navbar-default {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    margin-bottom: 0;
    z-index: 999;
  }
}

//hacky fix for jumpy looking IE fixed bg.  todo: find a real solution for this.
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .splash{
    background-attachment: scroll!important;
  }
}


// about container
.about {
  padding-top: 4em;
  padding-bottom: 4em;
  min-height: 80%;

  .panel {
    border: 0;
    @include border-radius(0);
    @include box-shadow(none);
  }

  .panel-body {
    padding: 0;
  }

  .row{
    max-width:100%;
  }

  @media (min-width: $bp-md) {
    display: -ms-flexbox;  display: -webkit-flex;  display: flex;
    -webkit-flex-direction: column;  -ms-flex-direction: column;  flex-direction: column;
    -webkit-flex-wrap: nowrap;  -ms-flex-wrap: nowrap;  flex-wrap: nowrap;
    -webkit-justify-content: center;  -ms-flex-pack: center;  justify-content: center;
    -webkit-align-content: stretch;  -ms-flex-line-pack: stretch;  align-content: stretch;
    -webkit-align-items: center;  -ms-flex-align: center;  align-items: center;

    .panel-body {
      padding-top: 0;
    }
  }
}

//footer is not really necessary yet but let's prep the turf
.container-full.footer {
  background: rgba(0, 0, 0, 0.14);
  min-height: 25px;
}